<!doctype html>
<html>
	<head>
		<title>Web App</title>
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/css/index.css"></link>
		<meta charset="utf-8" />
		<link rel="icon" href="/img/icon32x32.png" type="image/png" />
	</head>
	<body lang="en">
		<app-root>
			<h1>Hello</h1>
		</app-root>
		<!--<service-worker url="service-worker.js" scope="./"></service-worker>-->
		<script src="js/components/service-worker.js" type="module"></script>
		<script src="js/components/app-root.js" type="module"></script>
	</body>
</html>
