<!doctype html>
<html lang="en">
	<head>
		<title>Web App</title>
		<link rel="manifest" href="manifest.json">
		<link rel="stylesheet" href="css/system.css">
		<link rel="icon" href="img/icon32x32.png" type="image/png">
		<link rel="apple-touch-icon" href="img/icon.png">
		<meta charset="utf-8">
		<meta name="theme-color" content="#ff6400">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="A Web app">
	</head>
	<body>
		<app-root>
			<h1>Hello</h1>
		</app-root>
		<!--<service-worker url="service-worker.js" scope="./"></service-worker>-->
		<script src="js/components/service-worker.js" type="module"></script>
		<script src="js/components/app-root.js" type="module"></script>
	</body>
</html>
